.todo-item{
  list-style-type: none;
  width: 450px;
  height: 38px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(77, 74, 84);
  border-radius: 4px;
  margin: 10px auto;
  padding: 8px;
  font-weight: bold;
  color: white;

  &.completed span{
    text-decoration: line-through;
    font-weight: normal;
    color: black;
  }

  &__checkbox{
    cursor: pointer;
  }
}