.todo{
  max-width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  &__header{
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
    user-select: none;
  }
  
  &__filter{
    margin: 10px auto;
    user-select: none;
  }
}